
{% load static %}

<!DOCTYPE html>
<html> 
<head> 
    <title>Tanish Visanagiri</title>
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
</head>    
<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body h-100" id="profile-wrapper">
                    <img src="{% static 'images/dp.jpg' %}">
                    <hr>
                    <h4>Hey! I'm Tanish</h4>
                    <p>Coding projects are fun</p>
                </div>
            </div>
                
            <div class="col-md-9">
                <div class="card card-body h-100">
                    <h4>My First Interning Experience at Reckonsys</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, velit elementum fermentum vehicula, odio turpis semper neque, non viverra ex ante at ex. Proin tincidunt suscipit blandit. Curabitur elementum varius tempus. Donec sed neque nibh. Praesent lobortis quam urna, ac dapibus urna tristique vitae. Donec a quam eu tortor pretium scelerisque vel ornare augue. </p>

                    <p>Etiam sit amet posuere lectus. Donec in odio id dolor convallis facilisis. Suspendisse metus lacus, commodo vitae lectus a, ultrices dictum sapien. Quisque pharetra diam id sapien mattis, in tincidunt libero ultricies. Phasellus nisi risus, scelerisque quis odio et, efficitur dictum enim. Phasellus sem augue, pharetra non venenatis in, ultrices id tellus. Nulla ut ullamcorper lorem. Proin dignissim non erat efficitur eleifend. Nullam rhoncus, ante at mollis dictum, tortor dolor dapibus mauris, vel dapibus augue ligula auctor lacus. Aenean id mauris turpis.</p>

                </div>
            </div>
        </div>  
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Experience as a Software Developer!</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, velit elementum fermentum vehicula, odio turpis semper neque, non viverra ex ante at ex. Proin tincidunt suscipit blandit. Curabitur elementum varius tempus. Donec sed neque nibh. Praesent lobortis quam urna, ac dapibus urna tristique vitae. Donec a quam eu tortor pretium scelerisque vel ornare augue. </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>What I Know!</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, velit elementum fermentum vehicula, odio turpis semper neque, non viverra ex ante at ex. Proin tincidunt suscipit blandit. Curabitur elementum varius tempus. Donec sed neque nibh. Praesent lobortis quam urna, ac dapibus urna tristique vitae. Donec a quam eu tortor pretium scelerisque vel ornare augue. </p>
                </div>
            </div>
            <br>
        </div> 

        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>How I Learn!</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, velit elementum fermentum vehicula, odio turpis semper neque, non viverra ex ante at ex. Proin tincidunt suscipit blandit. Curabitur elementum varius tempus. Donec sed neque nibh. Praesent lobortis quam urna, ac dapibus urna tristique vitae. Donec a quam eu tortor pretium scelerisque vel ornare augue. </p>

                </div>
            </div>
                
            <div class="col-md-6">
                <div class="card card-body h-100">
                    <h5>My Goals!</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tincidunt, velit elementum fermentum vehicula, odio turpis semper neque, non viverra ex ante at ex. Proin tincidunt suscipit blandit. Curabitur elementum varius tempus. Donec sed neque nibh. Praesent lobortis quam urna, ac dapibus urna tristique vitae. Donec a quam eu tortor pretium scelerisque vel ornare augue. </p>

                </div>
            </div>
        </div> 
        <br>
    </div>
    
</body>
</html>
